.header {
	position: fixed;
	top: 0;
	background-color: var(--defaultBgColor);
	width: 100%;
	z-index: 10;
}

.nav {
	display: flex;
	justify-content: space-between; /* Distributes items across full width */
	align-items: center;
	width: 100%;
	padding: 0 20px; /* Add some padding to create space from the edges */
}

.nav__title {
	font-size: 28px;
	color: black;
}

.nav__connect {
	display: flex;
	align-items: center;
	gap: 1.5rem; /* Space between buttons */
	flex-direction: row; /* Align items in a row */
}

.nav__logo {
	display: flex;
	align-items: center;
	z-index: 11;

	&__image {
		width: 6rem;
		height: auto;

		@media (max-width: 768px) {
			width: 120px;
		}
	}
}

.nav__connect__button,
.nav__connect__btnvList,
.nav__connect__btnView {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--defaultFontColor);
	font-size: 18px;
	border: none;
	background: transparent;
	padding: 0.5rem 1rem;

	&:hover {
		text-decoration: underline;
	}
}
