.employeeList {
	background-color: #f0f8ff;
	color: #333;

	&__title {
		color: #00008b;
	}

	&__container {
		list-style-type: none;
		padding: 0;

		&__id {
			background-color: #fff;
			border: 1px solid #00008b;
			margin: 10px 0;
			padding: 10px;
			border-radius: 5px;

			&__name {
				margin: 0;
				color: #00008b;
			}

			&__function {
				margin: 5px 0 0;
				color: #555;
			}
		}
	}
}
