.viewEmployee {
	position: relative;
	background-color: var(--defaultBgColor);
	top: 5rem;
	padding: 2rem;

	&__main {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		top: -9rem;

		&__general {
			width: 100%;
			position: relative;
			top: 5rem;

			&__employee {
				width: 100%;
				height: 33%;

				&__avatar {
					width: 5%;

					&__img {
						object-fit: contain;
					}
				}

				&__infos {
					&__container1,
					&__container2,
					&__container3 {
						margin-bottom: 0.625rem;

						&__firstName,
						&__lastName,
						&__birthday,
						&__street,
						&__city,
						&__state,
						&__zipCode,
						&__country,
						&__department,
						&__function,
						&__startWork,
						&__endWork {
							margin-bottom: 10px;
						}

						&__firstName label {
							color: red;
						}

						&__lastName {
							color: burlywood;
						}
					}
				}
			}
		}
	}
}
.viewEmployee__actions {
	position: relative;
	top: 5rem;
	margin: 3rem;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 1.25rem;
}

header {
	background-color: #2f3e46;
	width: 100%;
	padding: 0.625rem;
	display: flex;
	justify-content: space-between;
}

.menu-bar {
	button,
	input {
		background-color: #517fa4;
		color: white;
		border: none;
		padding: 0.625rem;
		margin-right: 0.313rem;
		border-radius: 0.313rem;
	}

	input {
		padding: 0.5rem;
	}
}

main {
	background-color: var(--defautBgColor);
	padding: 1.25rem;
	border-radius: 0.325rem;
	width: 100%;
	max-width: 75rem;
	text-align: center;
}

.avatar {
	img {
		border-radius: 50%;
		width: 6.25rem;
	}
}

.actions {
	button {
		background-color: #517fa4;
		color: white;
		border: none;
		padding: 0.625rem;
		margin: 0.625rem 0.313rem;
		border-radius: 0.313rem;
	}
}

form {
	margin-top: 1.25rem;

	.form-row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;

		label,
		input {
			width: 48%;
		}

		input {
			padding: 0.625rem;
			border-radius: 0.313rem;
			border: 1px solid #517fa4;
		}
	}
}

.create-btn,
.home-btn {
	background-color: #517fa4;
	color: white;
	border: none;
	padding: 0.625rem;
	margin-top: 1.25rem;
	border-radius: 0.313rem;
	cursor: pointer;
}

.create-btn {
	background-color: #5cdb95;
}

.home-btn {
	background-color: #517fa4;
}

footer {
	background-color: #2f3e46;
	width: 100%;
	padding: 0.625rem;
	display: flex;
	justify-content: space-around;
}

footer button {
	background-color: #517fa4;
	color: white;
	border: none;
	padding: 0.625rem;
	border-radius: 0.313rem;
}

.btn {
	&__create,
	&__modif,
	&__cancel,
	&__supp {
		background-color: #51a458;
		color: white;
		border: none;
		padding: 0.625rem;
		margin-top: 1.25rem;
		border-radius: 0.313rem;
		cursor: pointer;
	}

	&__supp {
		background-color: #ff0000;
	}
}
