.home {
	position: relative;
	top: 4rem;
	height: calc(
		98vh - 6rem
	); /* Ajustement de la hauteur totale en tenant compte du header et du footer */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	&__mainAccueil {
		height: 66.66%; /* Deux tiers de la hauteur restante */
		width: 100%; /* Largeur complète */
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: -1rem;
	}

	&__bottomSection {
		display: flex;
		width: 100%; /* Largeur complète */
		height: 100%; /* Un tiers de la hauteur */
		justify-content: space-around;
		flex-direction: row;
		align-items: stretch;
		position: relative;
		bottom: 0;
		margin: 3rem 0 0 0;
	}

	&__mainRightBottom {
		width: 50%; /* Moitié de la largeur */
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__mainLeftBottom {
		width: 50%; /* Moitié de la largeur */
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}
