.home {
	position: relative;
	top: 4rem;
	height: calc(98vh - 6rem);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--defaultBgColor);

	&__mainAccueil {
		height: 66.66%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: -1rem;
	}

	&__bottomSection {
		display: flex;
		width: 100%;
		// height: 100%;
		justify-content: space-around;
		flex-direction: row;
		align-items: stretch;
		position: relative;
		bottom: -3rem;
		margin: 3rem 0 0 0;
	}

	&__mainRightBottom {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__mainLeftBottom {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}
